<% @blogs.each do |b| %>
<tr>
  <td><%= b.id %></td>
  <td><%= b.title %></td>
  <td><%= b.body %></td>
  <td><%= b.updated_at %></td>
  <td><%= link_to "Edit", edit_blog_path(b), class: "btn btn-info", remote: true %> <%= link_to "Delete", blog_path(b),method: :delete, data: {confirm: 'Are you sure to delete?'}, remote: true, class: "btn btn-danger" %></td>
  <% if b.is_active == true %>
  <td><%= link_to "InActive", blog_status_path(b), class: "btn btn-warning", remote: true %></td>
  <% else %>
  <td><%= link_to "Active", blog_status_path(b), class: "btn btn-success", remote: true %></td>
  <% end %>
</tr>
<% end %>
